<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Create Business</h4>
            <p class="card-category">Business Details</p>
          </div>
          <div class="card-body">
            <form [formGroup]="_createBusinessForm">
              <!-- <div class="row">
                                <div class="col-md-6">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Fist Name" type="text">
                                  </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Last Name" type="text">
                                  </mat-form-field>
                                </div>
                            </div> -->
              <!-- <div class="row">
                                <div class="col-md-12">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Adress" type="text">
                                  </mat-form-field>
                                </div>
                            </div> -->
              <div class="row">
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input [formControlName]="'name'" matInput placeholder="Name" type="text">
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input [formControlName]="'email'" matInput placeholder="Email" type="email">
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input [formControlName]="'password'" matInput placeholder="Password" type="password">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput [formControlName]="'phone'" placeholder="Phone" type="number">
                  </mat-form-field>
                </div>
              </div>
              <button mat-raised-button type="submit" (click)="createBusiness()"
                class="btn btn-danger pull-right">Create</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title ">Simple Table</h4>
            <p class="card-category"> Here is a subtitle for this table</p>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                  <th>
                    ID
                  </th>
                  <th>
                    Name
                  </th>
                  <th>
                    Email
                  </th>
                  <th>
                    Phone
                  </th>
                  <th>
                    Is Active
                  </th>
                </thead>
                <tbody>
                  <tr *ngFor="let item of _businessAccList;let i=index">
                    <td>
                      {{i+1}}
                    </td>
                    <td>
                      {{item.name}}
                    </td>
                    <td>
                      {{item.email}}
                    </td>
                    <td>
                      {{item.phonenumber}}
                    </td>
                    <td>
                      <p-inputSwitch (onChange)="handleChange(item)" [(ngModel)]="item.isactive">
                      </p-inputSwitch>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-atom" [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>