<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body" *ngFor="let item of _documentsList">

                        <p>{{item.documentType}}</p>
                        <img [src]="item.documentValue" width="100" alt="" class="video_error-icon">
                    </div>
                    <p>{{_isVerify==true?'Verified':'Not Verified'}}</p>
                    <p-inputSwitch (onChange)="handleChange($event)" [(ngModel)]="_isVerify">
                    </p-inputSwitch>
                </div>
            </div>

        </div>
    </div>
</div>