<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header-danger">
                        <h4 class="card-title ">Customer Table</h4>
                        <p class="card-category"> Customer Details</p>
                    </div>

                    <div *ngIf="true">
                        <p-table [columns]="selectedColumns" [value]="_customerList">
                            <ng-template pTemplate="caption">
                                <div class="row">
                                    <div class="col-md-3">
                                        <p-multiSelect [options]="cols" [(ngModel)]="selectedColumns"
                                            optionLabel="header" selectedItemsLabel="{0} columns selected"
                                            [style]="{minWidth: '200px'}" placeholder="Choose Columns"></p-multiSelect>
                                    </div>
                                    <div  class="col-md-4">
                                        <button (click)="exportExcel()">Export</button>
                                        <!-- <mat-form-field appearance="fill">
                                            <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
                                                <input matStartDate formControlName="start" placeholder="Start date">
                                                <input matEndDate formControlName="end" placeholder="End date">
                                            </mat-date-range-input>
                                            <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                            <mat-date-range-picker #picker></mat-date-range-picker>
                                        </mat-form-field> -->
                                    </div>
                                </div>


                            </ng-template>
                            <ng-template pTemplate="header" let-columns>
                                <tr>
                                    <th>ID</th>

                                    <th *ngFor="let col of columns">
                                        {{col.header}}
                                    </th>
                                    <th>
                                        Is Mobile Verified
                                    </th>
                                    <th>
                                        Is Email Verified
                                    </th>
                                    <th>
                                        View Logs
                                    </th>
                                    <th>
                                        User Status
                                    </th>
                                    <th>
                                        Documents
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-product let-columns="columns">
                                <tr>
                                    <td>{{product.userid}}</td>

                                    <td *ngFor="let col of columns">
                                        <div> {{product[col.field]}}</div>
                                    </td>
                                    <td>
                                        {{product.ismobileverified?'Yes':'No'}}
                                    </td>
                                    <td>
                                        {{product.isemailverified?'Yes':'No'}}
                                    </td>

                                    <td>
                                    </td>
                                    <td>
                                        <p-inputSwitch (onChange)="handleChange($event,product.userid)"
                                            [(ngModel)]="product.isverifiedbyadmin">
                                        </p-inputSwitch>
                                    </td>
                                    <td class="text-primary">
                                        <!-- <a (click)="openPopUp()">View</a> -->
                                        <p style="cursor: pointer;" (click)="openPopUp(product.userid)">View</p>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                    <div *ngIf="false" class="card-body">
                        <div class="table-responsive">

                            <table class="table">
                                <thead class="">
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        Name
                                    </th>

                                    <th>
                                        Email
                                    </th>

                                    <th>
                                        Phone
                                    </th>
                                    <th>
                                        Is Mobile Verified
                                    </th>
                                    <th>
                                        Is Email Verified
                                    </th>

                                    <th>
                                        User Status
                                    </th>
                                    <th>
                                        View Logs
                                    </th>
                                    <th>
                                        Documents
                                    </th>
                                </thead>
                                <tbody>

                                    <tr *ngFor="let item of _customerList;let i=index">
                                        <td>
                                            {{item.userid}}
                                        </td>
                                        <td>
                                            {{item.name}}
                                        </td>
                                        <td>
                                            {{item.email}}
                                        </td>
                                        <td>
                                            {{item.phone}}
                                        </td>
                                        <td>
                                            {{item.ismobileverified?'Yes':'No'}}
                                        </td>
                                        <td>
                                            {{item.isemailverified?'Yes':'No'}}
                                        </td>
                                        <td>
                                            <p-inputSwitch (onChange)="handleChange($event,item.userid)"
                                                [(ngModel)]="item.isverifiedbyadmin">
                                            </p-inputSwitch>
                                        </td>
                                        <td>
                                        </td>

                                        <td class="text-primary">
                                            <!-- <a (click)="openPopUp()">View</a> -->
                                            <p style="cursor: pointer;" (click)="openPopUp(item.userid)">View</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<p-dialog [(visible)]="showDialog" header="Documents" [draggable]="false" [style]="{width: '40vw'}" [baseZIndex]="10000"
    [resizable]="false" [closable]='true' (onHide)="closePopUp()">
    <!-- <app-dialog-cus-document [userId]="userId"></app-dialog-cus-document> -->
    <div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body" *ngFor="let item of _documentsList">

                            <p>{{item.documentType}}</p>
                            <img [src]="item.documentValue" width="100" alt="" class="video_error-icon">
                        </div>
                        <p>{{_isVerify==true?'Verified':'Not Verified'}}</p>
                        <p-inputSwitch (onChange)="handleChanges($event)" [(ngModel)]="_isVerify">
                        </p-inputSwitch>
                    </div>
                </div>

            </div>
        </div>
    </div>
</p-dialog>
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-atom" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
</ngx-spinner>